body{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  background-color: lightsalmon;
  height: 100vh;
}

.Weather-container{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.report-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.report-one{
  background-color: chartreuse;
  padding: 3px;
  width: 50%;
  border-radius: 15px;
}

.report-two{
  background-color: darkkhaki;
  padding: 3px;
  width: 50%;
  border-radius: 15px;
}

.report-three{
  background-color:dodgerblue;
  padding: 3px;
  width: 50%;
  border-radius: 15px;
}

.weather-box input{
  padding: 8px;
  width: 45%;
  outline: none;
  border-radius: 10px;
}

.weather-box button{
  background-color: springgreen;
  padding: 8px;
  outline: none;
  border-radius: 10px;
  
}

.weather-box button:hover{
  background-color: orange;
}

.input-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .input-box{
    flex-direction: column;
  }

  .weather-box button{
    border-radius: 10px;
    width: 65%;
  }

  .weather-box input{
    width: 60%;
    outline: none;
  }

  .report-one,.report-two,.report-three{
    width: 60%;
  }
}